*
{
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  /*!!! background-color: var(--Stone-very-light); >:( !!! */

}
body {
  background-color: var(--Stone-very-light);
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;

  background-color: transparent;
}

.main-title{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;

  background-color: transparent;
  font-size: 42px;
  color: var(--Stone-darkest);
}
.subtitle
{
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;

  background-color: transparent;
  font-size: 28px;
  color: var(--Brown);
}
.common-text
{
    color: var(--Stone-gray);
    background-color: transparent;

    font-size: 17px;
    
}
.brown-text
{
    color: var(--Brown);
    font-weight: bolder;
}



.Preparation-section
{
    background-color: var(--Rose-light);
    border-radius: 10px;
    padding: 10px 30px;

}
.Preparation-section p
{
    font-size: 21px;

    font-weight: bold;
    color: var(--Rose-darkest);
    background-color: transparent;
}
.Preparation-section ul,li    
{
    background-color: transparent;
    padding: 5px 25px;
    color: var(--Stone-gray);
}
.Preparation-section li::marker
{
    color: var(--Rose-darkest);
    font-size: 12px;
}
.Preparation-section span
{
    font-weight: bolder;
    background-color: transparent;
    color: var(--Stone-gray);
}



.Ingredients-section
{
    background-color: transparent;

}
.Ingredients-section ul,li
{
    background-color: transparent;
}
.Ingredients-section li::marker
{
    color: var(--Brown);
    font-size: 12px;
}



.Instructions-section
{
    background-color: transparent;

}
.Instructions-section ol,li
{
    background-color: transparent;
}
.Instructions-section li::marker
{
    color: var(--Brown);
    font-size: 12px;
    font-weight: bolder;
    font-size: 16px;
}
.Instructions-section span
{
    background-color: transparent;
    font-weight: bolder;
}

.Nutrition-section 
{
    background-color: transparent;
}
.Nutrition-section p
{
    background-color: transparent;
}
.Nutrition-section table
{
    width: 100%;
    padding-left: 20px;
    border-collapse: collapse;
}
.Nutrition-section tr
{
      border-bottom: 1px solid #ddd;
}
.Nutrition-section td
{
    padding: 12px 40px;
    background-color: transparent;
}
.Nutrition-section tr:last-child
{
      border-bottom: none;
}

:root
{
--White: hsl(0, 0%, 100%);

--Stone-very-light: hsl(30, 54%, 90%);
--Stone-light: hsl(30, 18%, 87%);
--Stone-gray : hsl(30, 10%, 34%);
--Stone-darkest : hsl(24, 5%, 18%);

--Brown: hsl(14, 45%, 36%);

--Rose-darkest: hsl(332, 51%, 32%);
--Rose-light: hsl(330, 100%, 98%);
}

.blog1
{
    background-color: var(--White);
    width: 700px;

    border-radius: 25px;
    margin: 100px auto;
    padding: 42px 42px;
    display: block;

}
.main-image
{
    width: 700px;
    border-radius: 10px;

    /*
    display: block;
    margin: auto;
        do wycentrowania zdjecia 
    */
}

